* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.content {
    max-width: 992px;
    height: 100vh;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
}